@use "./modules/colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 32px;
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif, Arial, Helvetica;
}

input {
  height: 32px;
  padding: 0 6px;
  font-size: 18px;
  width: 100%;
  max-width: 350px;
}